<ion-app>
  <!-- can be "xs", "sm", "md", "lg", or "xl" -->
  <ion-split-pane when="md"  contentId="main-content">
    <ion-menu side="start" menuId="first" contentId="main-content">
      <ion-header>
        <ion-toolbar>
          <ion-title>Menu</ion-title>
        </ion-toolbar>
      </ion-header>
      <ion-content class="ion-padding">
        <ion-menu-toggle autoHide="false">
          <ion-item  *ngFor="let c of componentes | async" [routerLink]="c.redirectTo" detail>
            <ion-icon [name]="c.icon" slot="start" color="primary"></ion-icon>
            {{c.name}}
          </ion-item>
        </ion-menu-toggle>

      </ion-content>
    </ion-menu>
    <ion-router-outlet id="main-content"></ion-router-outlet>
  </ion-split-pane>


</ion-app>